.meeting {
	background-color: rgba(0, 0, 0, 0.01);
	margin: 3rem 22vw;
	padding: 2rem 2rem;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0.7rem;
}

.description {
	font-size: 1.5rem;
}

.title {
	margin-bottom: 1.5rem;
}

.cta-buttons {
	text-align: right;
}

.del-button {
	margin-left: 2rem;
	width: 7rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
